<h1>Create new article</h1>

<%if @article.errors.any? %>
    <h1>The following errors preventing the article from being saved</h1>
    <%= @article.errors.full_messages.each do |msg| %>
        <ul>
            <li><%= msg %></li>
        </ul>
    <% end %>
<% end %>

<%= form_with scope: :article, url: articles_path, local: true do |f| %>

    <p>
        <%= f.label :tetle %><br/>
        <%= f.text_field :title %>
    </p>

    <p>
        <%= f.label :description %><br/>
        <%= f.text_area :description %>
    </p>

    <p>
        <%= f.submit %>
    </p>

<% end %>